# Large data files (>50MB)
data/road-casualty-data/Accidents0515.parquet
data/uk_accidents_2005_2010/
data/uk_accidents_2019/
data/uk_accidents_2021_2022/
data/uk_weather_1961_2024/
data/uk_rainfall_2018_2023/
data/us_flights/flight_data_2018_2024.csv
data/climate_soil/train_timeseries/
data/climate_soil/test_timeseries/
data/climate_soil/validation_timeseries/

# Python
__pycache__/
*.pyc
data/f1_laptimes/
data/temp36/
